<div class="page-header">
  <h1>{{info.name}} <small>students</small></h1>
</div>


<table class="table table-striped editable">
  <thead>
    <tr>
      <th>Surname</th>
      <th>Name</th>
      <th>Patronymic</th>
      <th>Action</th>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="student in studentsList">
      <td>
        <a editable-text="student.surname" onbeforesave="changeSurname(student.id, $data)" blur="ignore">{{student.surname}}</a>
      </td>
      <td>
        <a editable-text="student.name" onbeforesave="changeName(student.id, $data)" blur="ignore">{{student.name}}</a>
      </td>
      <td>
        <a editable-text="student.patronymic" onbeforesave="changePatronymic(student.id, $data)" blur="ignore">{{student.patronymic}}</a>
      </td>

      <td>
        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteStudent(student.id)">
          <span class="glyphicon glyphicon-remove"></span>
          delete
        </button>
      </td>
    </tr>
    
    <tr ng-form="newStudentForm">
      <td>
        <input type="text" class="form-control" ng-model="newStudent.surname" name="_surname" placeholder="Enter surname" required ng-pattern="/\w{1,2}/" />
      </td>
      <td>
        <input type="text" class="form-control" ng-model="newStudent.name" name="_name" placeholder="Enter name" required ng-pattern="/\w{1,2}/" />
      </td>
      <td>
        <input type="text" class="form-control" ng-model="newStudent.patronymic" name="_patronymic" placeholder="Enter patronymic" required ng-pattern="/\w{1,2}/" />
      </td>
      
      <td>
        <button type="button" class="btn btn-success btn-xs" ng-disabled="newStudentForm.$invalid" ng-click="addNewStudent()">
          <span class="glyphicon glyphicon-plus"></span>
          add
        </button>
      </td>
    </tr>
  </tbody>
</table>