<div class="page-header">
  <h1>{{info.name}} <small>courses</small></h1>
</div>

<div class="col-sm-9 main-view">
  <ul class="course-list">
    <li ng-repeat="course in groupCoursesList | courseFilter:{ quarters: quarters } | quarterSort">
      <a ng-href="#/course/{{course.id}}" ng-bind="course.title"></a>
      <span class="label label-primary">{{course.quarter}} quarter</span>
    </li>
  </ul>
</div>

<div class="col-sm-3 right-sidebar">
  <h3>Quarters filter</h3>
  <ul>
    <li ng-repeat="quarter in quarters | quarterFilterSort">
      <label>
        <input type="checkbox" ng-model="quarter.visible"> {{quarter.id}} quarter
      </label>
    </li>
  </ul>
</div>