<button type="button" class="btn btn-primary edit-button" ng-if="login.access == 2 || info.id == login.id" ng-click="edit()">
  <span class="glyphicon glyphicon-pencil"></span>
  Edit labs and points
</button>

<div class="page-header">
  <h1>{{info.title}} <small>labs</small></h1>
</div>

<h3 ng-show="studentsList.length == 0">
  <strong>No students</strong> added yet!
</h3>

<h3 ng-show="labsList.length == 0 && testsList.length == 0">
  <strong>No labs or tests</strong> added yet!
</h3>

<table class="table table-striped" ng-show="(labsList.length > 0 || testsList.length > 0) && studentsList.length > 0">
  <thead>
    <tr>
      <th>#</th>
      <th>Student</th>
      
      <th ng-repeat="lab in labsList" ng-bind="lab.name"></th>
      <th ng-repeat="test in testsList" ng-bind="test.name"></th>
      
      <th>&#x2211;</th>
      <th>Mark</th>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="student in studentsList">
      <td ng-bind="$index + 1"></td>
      <td ng-bind="student.surname + ' ' + student.name"></td>
      
      <td ng-repeat="lab in labsList"
          ng-bind="labMarks[student.id][lab.id] | labMark"
          ng-class="calcScale(student.id, lab.id)"></td>
      
      <td ng-repeat="test in testsList"
          ng-bind="testMarks[student.id][test.id] | testMark"></td>
      
      <td ng-bind="calcSum(student.id)"></td>
      <td ng-bind="getMark(student.id)"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td>reference points: </td>
      
      <td ng-repeat="lab in labsList" ng-bind="lab.refMark"></td>
      <td ng-repeat="test in testsList"></td>
      
      <td>{{ getTotalSumm() }}</td>
      <td></td>
    </tr>
  </tfoot>
</table>