<div class="page-header">
  <h1>{{info.title}} <small>course</small></h1>
</div>

<h2>Points</h2>
<table class="table table-striped editable">
  <thead>
    <tr>
      <th>#</th>
      <th>Student</th>
      
      <th ng-repeat="lab in labsList" ng-bind="lab.name"></th>
      <th ng-repeat="test in testsList" ng-bind="test.name"></th>
      
      <th>&#x2211;</th>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="student in studentsList">
      <td ng-bind="$index + 1"></td>
      <td ng-bind="student.name + ' ' + student.surname"></td>
      
      <td ng-repeat="lab in labsList">
        <a editable-text="labMarks[student.id][lab.id]" blur="ignore"
           onbeforesave="setMark(student.id, lab.id, $data)">
          {{ labMarks[student.id][lab.id] || 0 }}
        </a>
      </td>
      
      <td ng-repeat="test in testsList" ng-style="{borderLeft: '{{!$index ? 1 : 0 }}px solid rgb(200, 200, 200)'}">
        <a editable-text="testMarks[student.id][test.id]" blur="ignore"
           onbeforesave="setTestMark(student.id, lab.id, $data)">
          {{ testMarks[student.id][test.id] || 0 }}
        </a>
      </td>

      <td ng-bind="calcSum(student.id)"></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-7">
    <h2>Labs</h2>
    <table class="table table-striped editable">
      <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th class="col-sm-6">Lab name</th>
          <th class="col-sm-3">Reference mark</th>
          <th class="col-sm-2">Action</th>
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat="lab in labsList">
          <td ng-bind="$index + 1"></td>
          <td>
            <a editable-text="lab.name" blur="ignore"
               onbeforesave="editLabName(lab.id, $data)">
              {{ lab.name }}
            </a>
          </td>
          <td>
            <a editable-text="lab.refMark" blur="ignore"
               onbeforesave="editLabRefMark(lab.id, $data)">
              {{ lab.refMark }}
            </a>
          </td>
          
          <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteLab(lab.id)">
              <span class="glyphicon glyphicon-remove"></span>
              delete
            </button>
          </td>
        </tr>
        
        <tr ng-form="newLabForm">
          <td></td>
          <td>
            <input type="text" class="form-control" ng-model="newLabInfo.name" name="_name" placeholder="Enter lab name" required />
          </td>
          <td>
            <input type="text" class="form-control" ng-model="newLabInfo.refMark" name="_refMark" placeholder="Enter reference mark" required />
          </td>
          
          <td>
            <button type="button" class="btn btn-success" ng-disabled="newLabForm.$invalid" ng-click="addLab()">
              <span class="glyphicon glyphicon-plus"></span>
              add
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>&#x2211;</td>
          <td>{{getTotalSumm()}}</td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
  
  <div class="col-sm-5">
    <h2>Tests</h2>
    <table class="table table-striped editable">
      <thead>
        <tr>
          <th class="col-sm-1">#</th>
          <th class="col-sm-9">Test name</th>
          <th class="col-sm-2">Action</th>
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat="test in testsList">
          <td ng-bind="$index + 1"></td>
          <td>
            <a editable-text="test.name" blur="ignore"
               onbeforesave="editTestName(test.id, $data)">
              {{ test.name }}
            </a>
          </td>
          
          <td>
            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteTest(test.id)">
              <span class="glyphicon glyphicon-remove"></span>
              delete
            </button>
          </td>
        </tr>
        
        <tr ng-form="newTestForm">
          <td></td>
          <td>
            <input type="text" class="form-control" ng-model="newTestInfo.name" name="_name" placeholder="Enter lab name" required />
          </td>
          
          <td>
            <button type="button" class="btn btn-success" ng-disabled="newTestForm.$invalid" ng-click="addTest()">
              <span class="glyphicon glyphicon-plus"></span>
              add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>