<button type="button" class="btn btn-primary edit-button" ng-if="login.access == 2 || info.id == login.id" ng-click="edit()">
  <span class="glyphicon glyphicon-pencil"></span>
  Edit courses
</button>

<div class="page-header">
  <h1>{{info.name}} <small>courses</small></h1>
</div>

<ul class="course-list">
  <li ng-repeat="course in coursesList">
    <a ng-href="#/course/{{course.id}}" ng-bind="course.title"></a>
    <span class="label label-default">{{course.groupName}}</span>
    <span class="label label-primary">{{course.quarter}} quarter</span>
  </li>
</ul>