<div class="page-header">
  <h1>Teachers</h1>
</div>

<table class="table table-striped editable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Patronymic</th>
      <th>Surname</th>
      
      <th>Login</th>
      <th>Password</th>
      
      <th>AccessType</th>
      <th>Action</th>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="teacher in teacherList">
      <td>
        <a editable-text="teacher.name" onbeforesave="changeName(teacher.id, $data)" blur="ignore">{{teacher.name}}</a>
      </td>
      <td>
        <a editable-text="teacher.surname" onbeforesave="changeSurname(teacher.id, $data)" blur="ignore">{{teacher.surname}}</a>
      </td>
      <td>
        <a editable-text="teacher.patronymic" onbeforesave="changePatronymic(teacher.id, $data)" blur="ignore">{{teacher.patronymic}}</a>
      </td>
      
      <td>
        <a editable-text="teacher.login" onbeforesave="changeLogin(teacher.id, $data)" blur="ignore">{{teacher.login}}</a>
      </td>
      <td>
        <a editable-text="'password'" onbeforesave="changePassword(teacher.id, $data)" blur="ignore">*secret*</a>
      </td>
      
      <td ng-if="login.id != teacher.id">
        <select class="form-control" ng-model="teacher.accessType" ng-change="changeAccess(teacher.id, teacher.accessType)">
          <option value="1">Teacher</option>
          <option value="2">Administrator</option>
        </select>
      </td>
      <td ng-if="login.id == teacher.id">
        Administrator
      </td>
      
      <td>
        <button type="button" class="btn btn-danger btn-xs" ng-click="deleteTeacher(teacher.id)">
          <span class="glyphicon glyphicon-remove"></span>
          delete
        </button>
      </td>
    </tr>
    
    
    <tr ng-form="newTeacherForm">
      <td>
        <input type="text" class="form-control" ng-model="newTeacher.name" name="_name" placeholder="Enter name" required />
      </td>
      <td>
        <input type="text" class="form-control" ng-model="newTeacher.patronymic" name="_patronymic" placeholder="Enter patronymic" required />
      </td>
      <td>
        <input type="text" class="form-control" ng-model="newTeacher.surname" name="_surname" placeholder="Enter surname" required />
      </td>
      
      <td>
        <input type="text" class="form-control" ng-model="newTeacher.login" name="_login" placeholder="Enter login" required />
      </td>
      <td>
        <input type="password" class="form-control" ng-model="newTeacher.password" name="_password" placeholder="Enter password" required />
      </td>
      
      <td>
        <select class="form-control" ng-model="newTeacher.accessType">
          <option value="1">Teacher</option>
          <option value="2">Administrator</option>
        </select>
      </td>
      
      <td>
        <button type="button" class="btn btn-success btn-xs" ng-disabled="newTeacherForm.$invalid" ng-click="addNewTeacher()">
          <span class="glyphicon glyphicon-plus"></span>
          add
        </button>
      </td>
    </tr>
  </tbody>
</table>
